@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/opensans-regular/opensans-regular.eot");
  src: url("../fonts/opensans-regular/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto-regular/roboto-regular.eot");
  src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Abhaya Libre ExtraBold';
  src: url("../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.eot");
  src: url("../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.woff2") format("woff2"), url("../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.woff") format("woff"), url("../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr.eot");
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  scroll-behavior: smooth; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  cursor: pointer; }
  a:hover, a:active {
    text-decoration: none; }

button {
  cursor: pointer; }
  button:focus {
    border: none;
    outline: none; }

body {
  position: relative;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1;
  background: #fff; }

body,
html {
  overflow-x: hidden; }

a {
  font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; }

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.another-review__text a,
.clinically__text a,
.end__text a,
.health__text a,
.myresult__text a,
.news__text a,
.reason__image-container--text a,
.reason__text a,
.result__text a,
.user-text a,
.result__image-container--text a,
.exclusive__text a {
  color: #2B742A; }

.another-review__text a:hover,
.btn,
.clinically__text a:hover,
.end__text a:hover,
.health__text a:hover,
.myresult__text a:hover,
.news__text a:hover,
.reason__image-container--text a:hover,
.reason__text a:hover,
.result__text a:hover,
.user-text a:hover,
.result__image-container--text a:hover,
.exclusive__text a:hover {
  color: rgba(43, 116, 42, 0.89);
  cursor: pointer;
  text-decoration: underline; }

.btn {
  font-family: "Roboto Regular", sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: #E19432;
  border: 0;
  outline: 0; }

.btn:hover {
  background-color: #f8a337; }

.btn:active {
  background-color: #f8a337; }

@media (min-width: 1330px) {
  body {
    font-size: 24px;
    line-height: 29px; } }

.page-header__wrapper {
  margin: 0 auto;
  width: 320px;
  padding: 15px 10px; }

@media (min-width: 1330px) {
  .page-header__wrapper {
    width: 1300px;
    padding: 25px 0;
    margin: auto; } }

@media (max-width: 1329px) {
  .page-header__title,
  .page-header__navigation {
    display: none; } }

.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-header__logo-icon {
  margin-right: 17px;
  margin-left: 15px;
  margin-bottom: 12px; }

.page-header__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #EE5CAB;
  margin: 0; }

.navigation__list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #F1F3F2;
  border: 1px solid #B0B0B0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0; }

.navigation__item {
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  padding: 5px;
  border-right: 1px solid #B0B0B0; }

.navigation__item:hover {
  background: #ccc; }

.navigation__item:hover a {
  color: #000; }

.navigation__item a {
  text-decoration: none;
  color: #2B742A; }

@media (min-width: 1330px) {
  .page-header__logo-icon {
    margin-left: 0;
    margin-bottom: 27px; }
  .page-header__logo {
    justify-content: start; }
  .page-header__title {
    font-family: "Abhaya Libre ExtraBold", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 175.69%;
    letter-spacing: 0.015em;
    color: #EE5CAB;
    margin: 0; }
  .page-header__navigation {
    display: block; }
  .navigation__list {
    width: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0; }
  .navigation__item {
    width: 20%;
    font-size: 25px;
    font-weight: 500;
    background: #F1F3F2;
    line-height: 140.62%;
    text-align: center;
    border-right: 1px solid #B0B0B0;
    padding: 11px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; } }

.exclusive__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .exclusive__wrapper {
    width: 1300px;
    padding: 32px 0; } }

.exclusive__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin: 0 0 36px; }

.exclusive__title span {
  text-transform: uppercase; }

.exclusive__text {
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  border-bottom: 2px solid #2B742A;
  padding-bottom: 50px;
  white-space: normal; }

@media (min-width: 1330px) {
  .exclusive__title {
    font-size: 30px;
    line-height: 136.69%;
    color: #000; }
  .exclusive__text {
    font-size: 22px;
    line-height: 175.69%;
    white-space: pre-line; } }

.health__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .health__wrapper {
    width: 1300px;
    padding: 4px 0; } }

.health__journalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 15px; }

.journalist-image {
  margin-right: 30px; }

.journalist-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 3px; }

.journalist-stats {
  font-size: 10px;
  line-height: 10px;
  margin: 0 0 5px; }

.journalist-text {
  font-size: 13px;
  line-height: 16px;
  margin: 0; }

.health__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  margin: 0 0 25px; }

.health__text:last-child {
  margin-bottom: 0; }

.news {
  display: none; }

.health__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 0 0 20px;
  color: #5A5A5A; }

@media (min-width: 1330px) {
  .health-and-news-container {
    position: relative;
    width: 1300px;
    margin: 0 auto; }
  .news {
    display: block;
    position: absolute;
    top: 4px;
    right: 0px;
    width: 417px; }
  #sidebar {
    position: relative; }
  .container4 {
    background: #F1F3F2;
    padding: 25px 15px 1px;
    margin-bottom: 50px; }
  .news__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 140.62%;
    margin: 0 0 10px; }
  .news__text {
    font-weight: 400;
    font-size: 18px;
    color: #5A5A5A;
    line-height: 160%;
    margin: 0 12px 29px 3px; }
  .news__text--line {
    position: relative;
    padding-bottom: 36px; }
    .news__text--line:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      left: 0;
      right: -10px;
      background: #6D6D6D; }
  .news__text--indent {
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 175.69%; }
  .news__text--indent2 {
    font-size: 16px;
    line-height: 175.69%;
    margin: 0;
    white-space: pre-line; }
    .news__text--indent2 .news__read-more {
      margin-bottom: 10px; }
  .news__read-more {
    display: flex;
    margin: 0 0 16px; }
    .news__read-more a {
      font-size: 16px;
      font-weight: 400;
      line-height: 175.69%;
      margin: 0; }
  .news__text--more {
    margin-left: auto; }
  h3 {
    margin: 0 0 15px; }
  .news-image {
    margin-bottom: 15px; }
  .news__try {
    display: -webkit-box;
    display: -ms-flexbox;
    border: 1px solid #2B742A;
    margin-top: 18px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 3px 0 #8c8c8c;
    box-shadow: 0 0 3px 0 #8c8c8c; }
  .try-title {
    width: 100%;
    font-size: 36px;
    line-height: 175.69%;
    text-align: center;
    color: #fff;
    background-color: #2B742A;
    margin: 0 0 36px;
    padding: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .try-contaier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .try-image {
    margin: 0 0 25px 63px; }
  .try-link a {
    display: block;
    text-align: center;
    background: #FFFF95;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 121.12%;
    margin-bottom: 25px; }
    .try-link a span {
      text-decoration: underline; }
  .news__btn {
    margin-bottom: 39px;
    padding: 14px 28px;
    font-weight: 600;
    font-size: 25px;
    line-height: 140.62%;
    text-transform: uppercase; }
  .health__journalist {
    position: relative; }
  .journalist-image {
    position: absolute;
    top: 8px;
    left: 0; }
  .journalist-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .journalist-title {
    font-size: 25px;
    line-height: 140.62%;
    color: #000;
    margin-left: 224px;
    margin-right: 25px; }
  .journalist-stats {
    font-size: 18px;
    line-height: 18px; }
  .journalist-text {
    width: 201px;
    font-weight: 400;
    line-height: 140.62%;
    font-size: 15px;
    top: 287px;
    left: 0;
    position: absolute; }
  .health__text,
  .health__title {
    width: 850px; }
  .health__text:first-of-type,
  .health__title:first-of-type {
    width: 597px;
    margin-left: 224px; }
  .health__text {
    font-size: 22px;
    line-height: 145%;
    margin-bottom: 56px; }
  .health__text--indent {
    margin-bottom: 32px; } }

.reason__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .reason__wrapper {
    width: 1300px;
    padding: 30px 0; } }

.reason__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reason__image-container--text {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  background: #FFFF95;
  padding: 5px;
  margin: -5px 0 20px; }
  .reason__image-container--text a {
    text-transform: uppercase;
    font-weight: 600; }

.reason__text {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #5A5A5A; }

.clinically__item:last-child,
.reason__text:last-child {
  margin-bottom: 0; }

@media (min-width: 1330px) {
  .reason__image-container {
    width: 850px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .reason__image-container--text {
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    text-align: center;
    color: #000;
    padding: 19px 26px 19px 0;
    margin-bottom: 38px; }
  .reason__text {
    width: 820px;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 34px; } }

.result__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .result__wrapper {
    width: 1300px;
    padding: 47px 0 33px; } }

.result__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.result__image-container--text {
  width: 100%;
  font-size: 16px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  background: #FFFF95;
  padding: 5px;
  margin: -5px 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .result__image-container--text a {
    text-transform: uppercase; }

.result__text {
  color: #5A5A5A;
  font-size: 400;
  line-height: 120%;
  margin: 0 0 33px; }

.result__text--last {
  margin-bottom: 48px; }

.result__image-container--img {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .result__image-container--img img {
    margin-bottom: 5px; }

.result__image-md-none {
  display: none; }

@media (min-width: 1330px) {
  .result__image-container {
    width: 850px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .result__image-md-none {
    display: block; }
  .result__image-container--img {
    flex-direction: row;
    justify-content: start; }
  .result__image2 {
    width: 770px;
    display: block; }
  .result__image-container--text {
    font-size: 23px;
    padding: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    color: #000; }
  .result__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    width: 820px; } }

.another-review__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .another-review__wrapper {
    width: 1300px;
    padding: 20px 0; } }

.another-review__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 33px; }

.another-review__text {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #5A5A5A; }

@media (min-width: 1330px) {
  .another-review__title {
    width: 850px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140.62%;
    color: #000; }
  .another-review__text {
    width: 850px;
    font-size: 22px; } }

.clinically__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .clinically__wrapper {
    width: 1300px;
    padding: 20px 0 43px; } }

.clinically__title {
  font-size: 17px;
  line-height: 120%;
  margin: 0 0 20px;
  color: #000;
  font-weight: 600; }

.clinically__list {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-left: 4px;
  margin-bottom: 20px; }

.clinically__item {
  margin-bottom: 5px;
  padding-left: 25px;
  position: relative; }
  .clinically__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000; }

.clinically__text {
  font-weight: 400;
  font-size: 18px;
  margin: 0; }

@media (min-width: 1330px) {
  .clinically__title {
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 36px; }
  .clinically__list {
    font-size: 25px;
    line-height: 140.62%;
    width: 850px;
    margin-bottom: 44px; }
  .clinically__item {
    font-size: 23px;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  .clinically__text {
    width: 830px;
    font-size: 22px;
    line-height: 140%; } }

.myresult__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 10px 7px;
  background: #ebebeb; }

.myresult__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px; }

.myresult__image-container--text {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  background: #FFFF95;
  font-weight: 400;
  text-align: center;
  color: #000;
  margin: 0;
  padding: 10px 10px 8px 0; }

.end__text span,
.myresult__image-container--text span {
  font-weight: 700; }

.myresult__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140.62%;
  color: #000;
  margin: 0 0 17px; }

.myresult__title:last-child {
  margin: 0; }

.myresult__title:nth-last-child(-n+3) {
  text-align: center; }

.myresult__text {
  font-weight: 400;
  font-size: 18px;
  color: #5A5A5A;
  line-height: 120%;
  margin: 0 0 15px; }

@media (min-width: 1330px) {
  .myresult__wrapper {
    width: 1300px;
    padding: 20px 0;
    border: 0;
    background: 0 0; }
  .container {
    width: 848px;
    margin-bottom: 24px;
    background: #F1F3F2;
    padding: 33px 25px 15px 22px; }
  .myresult__image-container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .myresult__image-container--text {
    font-size: 23px;
    line-height: 140%; }
  .myresult__text {
    margin: 0 0 38px;
    font-size: 22px;
    line-height: 140%; }
  .myresult__text--indent {
    margin-bottom: 35px; }
  .myresult__text--indent2 {
    margin-bottom: 58px; }
  .myresult__text--last {
    margin-bottom: 50px; }
  .myresult__photo {
    padding-top: 10px;
    margin-bottom: 10px; }
  .myresult__title {
    font-size: 23px; }
  .myresult__text,
  .myresult__title {
    width: 805px; } }

.end__wrapper {
  width: 290px;
  padding: 10px 15px;
  margin: 10px auto 0; }

@media (min-width: 1330px) {
  .end__wrapper {
    width: 1300px;
    padding: 20px 0; } }

.end__text {
  margin: 0 0 20px;
  color: #5A5A5A;
  font-size: 400;
  line-height: 120%; }

.end__text--important {
  color: #F00;
  font-weight: 700; }

.end__text--important span {
  text-transform: uppercase; }

.end__text:last-child {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0; }

.end__product {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px 0 24px;
  margin-bottom: 40px;
  border: 10px solid #ffc107; }

.end__product--image {
  display: flex;
  margin-bottom: 15px; }

.end__product--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%; }

.end__product--block-wrap {
  display: inline-block; }

.end__product--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 135.3%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 37px; }

.end__product--text {
  font-weight: 600;
  font-size: 20px;
  line-height: 173.69%;
  margin: 0 0 20px;
  color: #000;
  white-space: pre-line; }

.end__product--text span {
  font-size: 28px;
  text-transform: uppercase; }

.end__btn {
  width: 75%;
  font-weight: 600;
  font-size: 18px;
  line-height: 140.62%;
  text-align: center;
  background: #000;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 21px auto 20px;
  text-transform: capitalize; }

@media (max-width: 381px) {
  .end__product--title {
    font-size: 30px;
    text-align: center; }
  .end__product--text {
    white-space: normal;
    text-align: center; } }

@media (min-width: 1330px) {
  .end__product {
    flex-direction: row;
    align-items: start;
    width: 850px;
    margin-top: 77px;
    margin-bottom: 108px;
    box-sizing: border-box;
    border: 20px solid #ffc107; }
  .end__product--title {
    font-weight: 700;
    font-size: 36px;
    line-height: 135.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 32px; }
  .end__product--image {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    padding: 25px 0 0 0; }
  .end__product--block {
    flex: 1 1 50%;
    padding: 81px 0 20px 48px; }
  .end__product--text {
    color: #000;
    font-size: 20px;
    padding-left: 2px;
    line-height: 173.69%; }
  .end__product--text span {
    font-size: 40px;
    line-height: 40px; }
  .end__text:last-child {
    margin-top: 63px; }
  .end__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 140.62%;
    text-align: center;
    margin: 21px auto 20px 21px; }
  .end__btn:hover {
    background-color: #ffc107;
    color: #000; }
  .end__btn:active {
    background-color: #e8af06;
    color: #000; }
  .end__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    width: 850px;
    margin-bottom: 30px; }
  .end__text--indent {
    margin-bottom: 10px; } }

.users-comments__wrapper {
  width: 290px;
  margin: 0 auto; }
  @media (max-width: 547px) {
    .users-comments__wrapper {
      padding: 10px 15px; }
      .users-comments__wrapper .container3 {
        padding: 40px 5px 0 5px; }
      .users-comments__wrapper .user-image {
        margin-right: 10px; }
        .users-comments__wrapper .user-image img {
          width: 75px; }
      .users-comments__wrapper .user-container__text {
        max-height: 320px;
        overflow: auto;
        padding: 18px; }
      .users-comments__wrapper .user-text {
        font-size: 16px; }
      .users-comments__wrapper .user-signatures__list {
        font-size: 16px;
        padding-left: 8px; }
      .users-comments__wrapper .user-signatures__item {
        padding: 0 8px; }
      .users-comments__wrapper .users-comments__btn {
        width: 85%;
        font-size: 25px; } }

.container3 {
  background: #fff;
  border: 1px solid #979797;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 60px 44px 0 37px; }

.users-comments__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
  padding: 0 10px;
  text-transform: uppercase;
  margin: 30px 0 10px; }

.users-comments__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.users-comments__item {
  display: flex;
  align-items: start;
  margin-bottom: 15px; }

.user-container {
  flex: 1 1;
  display: inline-flex;
  flex-direction: column; }

.user-container__text {
  background: #F2F3F5;
  border-radius: 45px;
  padding: 18px 25px 15px 27px; }

.user-signatures__list {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 10px 0 0 16px;
  color: #385898; }

.user-signatures__item {
  padding: 0 10px;
  position: relative; }
  .user-signatures__item:before {
    content: "";
    position: absolute;
    background: #757575;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%; }
  .user-signatures__item:last-child {
    color: #757575; }
    .user-signatures__item:last-child:before {
      display: none; }

.user-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 36px; }

.user-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #5A5A5A; }
  .user-text .user-name {
    font-size: 18px;
    color: #385898; }

.users-comments__btn {
  display: block;
  width: 60%;
  margin: 35px auto;
  font-weight: 600;
  font-size: 35px;
  line-height: 140.62%;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

@media (min-width: 1330px) {
  .users-comments__wrapper {
    width: 1300px;
    padding: 20px 0; }
  .container3 {
    width: 851px;
    margin-bottom: 47px; }
  .users-comments__item {
    margin-bottom: 30px; }
    .users-comments__item:last-child {
      margin-bottom: 22px; }
  .user-signatures__list {
    font-size: 22px;
    line-height: 140%; }
  .users-comments__title {
    margin-top: 40px;
    padding: 0; }
  .user-text {
    font-size: 22px;
    line-height: 147.69%; }
    .user-text .user-name {
      font-size: 22px; }
  .users-comments__btn {
    width: 600px;
    font-size: 35px;
    background-color: #E19432;
    margin: 0 0 0 99px; } }

.page-footer {
  background: #C4C4C4;
  margin-top: 40px; }

.page-footer__wrapper {
  width: 290px;
  padding: 20px 15px;
  margin: 0 auto; }

@media (min-width: 1330px) {
  .page-footer__wrapper {
    width: 1300px;
    padding: 35px 0;
    margin: auto; }
  .page-footer {
    margin-top: 59px; } }

.page-footer__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin: 0; }

.ac_footer {
  padding: 29px 0;
  text-align: center; }
  .ac_footer a {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #2B742A; }

.sidebar {
  background: #fff; }

@media (max-width: 1330px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box; }
  .health__journalist {
    max-width: 150px;
    float: left;
    display: block;
    margin-right: 25px; }
  .image-container,
  .myresult__photo {
    max-width: 290px;
    margin: auto;
    display: block; } }

@media (max-width: 450px) {
  .health__journalist {
    max-width: 290px;
    margin: 0 auto 20px;
    display: block;
    float: none;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
